 <%- include('../partials/header') %> 
    <h2><%=title%></h2>
      <p><img class ="pic" src="images/srvheadshot.jpg" /></p>
      <p>Without a doubt one of the absolute best blues guitarists out there. A musician, singer, songwriter and record producer. Sadly a majority of his life was caught in a struggle with his addiction to drugs and alcohol. And his personal and professional pressures of fame and his controversial marriage to Lenora "Lenny" Bailey.    </p>
      <p>He had a difficult life as most artists do and the feeling of emotional nuance, and soul within his music is felt even today being one of the reasons for the blues revival inthe 1980's opening doors of success for artists such as Robert Cray, Jeff Healey, and Robben Ford among many others.  </p>
      <p>Stevie sadly met his untimely end in a fatal Helicopter Crash at the age of 35 and was described as "the second coming of the blues". </p>
   <p>We'll be going over the 5 biggest influences that contributes to Stevie Rauy Vaughans style of music and Top 3 Tracks according to none other than Evan J. Kang who has impeccable taste according to my sources. </p>

   <p>Before I forget In this assignment, we'll build a Node.js website using Express.js and EJS (Links to an external site.) templates. Step 21   </p>

 <%- include('../partials/footer') %>   