 <%- include('../partials/header') %> 
    <h2><%=title%></h2>
      <p><img class ="pic" src="images/couldntstandtheweather.jpg" /></p>
      <h3>Little Wing Review by Tony Grassi</h3>
      <p>Vaughan’s most lauded Hendrix cover is “Little Wing.” Doing away with vocals, Vaughan augments Hendrix’s concise two-and-a-half minute original, turning the track into a nearly seven-minute-long electric tour de force. The cover would earn Vaughan his sixth Grammy, for Best Rock Instrumental Performance, in 1992.
Although released posthumously on 1991’s The Sky Is Crying, “Little Wing” was recorded in 1984 at the Power Station in New York City. A music video of the song, with images of Vaughan and other blues guitar legends, was included with the concert video Live From Austin, Texas.</p>
 <%- include('../partials/footer') %>   