 <%- include('../partials/header') %> 
    <h2><%=title%></h2>
      <p><img class ="pic" src="images/stageshot.jpg" /></p>
      <h3>Little Pan Alley Review by Society of Rock</h3>
      <p>Vaughan’s bending was a marvel, and also very vocal in his use of quarter- and half-tone bends. Check out his sublime slow blues “Tin Pan Alley” to hear plenty of this as well as examples of shred-level speed used to create emotional nuance, rather than energy, in his melodies. Like King and Hendrix, Stevie was always generous with melodies. And his vibrato, also at the fore of “Tin Pan Alley,” was equally astounding, crafted from sheer muscle control and a gut-governed sense of placement.</p>
 <%- include('../partials/footer') %>   